.option-select{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main-custom-input {
  display: flex;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.custom-input {
  border: 0px;
  box-shadow: none;
  background-color: transparent;
}

.custom-input:hover,
.custom-input:focus {
  border: 0px;
  box-shadow: none;
  background-color: transparent;
}

.card-list-body {
  height: auto;
}